extends index

block content
  - const { timezone: calendarTimezone, calendarId } = values.calendar;
  - const clubHasWidget = widgetToken !== null;
  include components/calendar
  include calendarActions
  include adminSettings
