extends index

block content
  - const { timezone: calendarTimezone, calendarId } = values.calendar;
  - const clubHasWidget = widgetToken !== null;
  if (user.isAdmin)
    include components/calendar
    include calendarActions
    include adminSettings
  else
    include components/calendar
    include calendarActions
