extends index

mixin calendarLink
  a(href='//calendar.google.com/calendar') calendar.google.com/calendar

mixin ms(text)
  span.font-monospace.bg-light.ps-1.pe-1.text-break #{text}

block content
  div
    h2 О приложении
    p.
      Приложение iCal в настоящее время работает только с сервисом Google Календарь
      и позволяет настроить импорт мероприятий в сообщество ВКонтакте. Приятным бонусом
      создаётся общедоступный календарь, на который смогут подписаться другие пользователи.
    hr
    h4 Это безопасно?
    p.
      Да. Создайте отдельный календарь, где будут только общедоступные мероприятия.
      Даже при полном наборе разрешений пользователи смогут только просматривать
      этот календарь, но не смогут изменять его или получать другие сведения вашего аккаунта.
    hr
    h4 Как создать Google календарь?
    p.
      Перейти на страницу #[+calendarLink()] и в левом меню
      возле заголовка #[+ms('Другие календари')] нажать #[+ms('+')] и #[+ms('Создать календарь')].
    hr
    h4 Как сделать Google календарь публичным?
    p.
      На странице #[+calendarLink()] в выпадающем меню справа от имени календаря
      перейти в #[+ms('Настройки и общий доступ — Разрешения на доступ')],
      установить галочку #[+ms('Сделать общедоступным')] и дать разрешение
      на #[+ms('Доступ ко всем сведениям о мероприятиях')]
    hr
    h4 Где взять "Идентификатор календаря"?
    p.
      На странице #[+calendarLink()] в выпадающем меню справа от имени календаря
      перейти в #[+ms('Настройки и общий доступ — Интеграция календаря')].
      Идентификатор календаря будет сразу же под заголовком и иметь вид email'а.
      Пример: #[+ms('ob1gcsbo877671s4295f693nv0@group.calendar.google.com')].
    p.
      Календарь должен быть публичным, чтобы по идентификатору можно было получить
      данные в приложении.
    hr
    h4 Какие типы событий из календаря поддерживаются?
    p.
      Только "Мероприятия". Это ограничение со стороны Google,
      поэтому "Задачи" и "Напоминания" будут отсутствовать в сообществе.
    hr
    h4 Какой период обновления виджета?
    p.
      Виджеты обновляются каждую #[+ms('10')]-ю минуту часа,
      то есть в #[+ms('12:00, 12:10, 12:20')] и так далее.
      Если виджет давно не обновлялся, то зайдите в приложение, дождитесь его полной загрузки,
      вернитесь в сообщество и подождите ближайшего обновления.
    p.
      Если в блоке #[+ms('Настройки виджета')] красная кнопка, значит у приложения отсутствуют
      необходимые права. Необходимо кликнуть по кнопке и дать разрешение на установку виджета,
      тогда он появится при ближайшей синхронизации.
    p.
      Если приложение загружается, в блоке #[+ms('Настройки виджета')] жёлтая кнопка, но виджет
      не обновляется, попробуйте запросить права заново. Возможно, предыдущий доступ
      по каким-то причинам был отозван.
    hr
    h4 Почему отображается максимум 6 событий?
    p.
      Ограничение со стороны ВКонтакте. Текущий виджет наиболее удобный для отображения
      событий с заголовками, временем и описанием. К сожалению, он поддерживает не более
      6 пунктов.
    p.
      Хорошая новость в том, что из приложения можно посмотреть календарь более подробно,
      а также подписаться на него, добавив мероприятия календаря сообщества в свой календарь.
    hr
    h4 Календарь в приложении плохо работает
    p.
      Да, дизайн Google календаря и его функциональность довольно спорные,
      изменить их со стороны приложения невозможно, да ещё и ВКонтакте накладывает
      свой отпечаток. Поэтому внизу календаря имеется кнопка #[+ms('Открыть в браузере')],
      чтобы некоторая функциональность календаря стала более дружелюбна.
    hr
