extends index

block content
  .d-flex.flex-column.justify-content-center.align-items-center.h-100.text-center
    img.mb-2(src='logo32.png' width='32' height='32' alt='Логотип ical')
    h3
      | Google календарь и виджет в сообщество
    p
      | Приложение работает с публичным Google календарём,
      | который устанавливает администратор сообщества.
      br
      | Мероприятия из календаря автоматически выводятся
      | на главной странице сообщества, если подключен виджет.
    div.d-block
      p Необходимо выбрать сообщество для использования приложения:
      button#setApp.btn.btn-outline-primary.mb-2 Выбрать сообщество
      p.text-secondary.fw-bolder &nbsp;
    div.d-none
      p Приложение готово к использованию!
      a#openClub.btn.btn-success.mb-2(
        href=`//vk.com/app${values.appId}`,
        target='_blank'
      ) Перейти к настройке приложения
      p.text-secondary.fw-bolder эту вкладку можно будет закрыть
