extends index

mixin adminText
  p.
    Укажите идентификатор общедоступного календаря, вида
    #[span.font-monospace.bg-warning ob1gcsbo877671s4295f693nv0@group.calendar.google.com],
    и сохраните, чтобы привязать календарь к сообществу.
    По умолчанию используется московское время, это можно изменить в поле "Часовой пояс".

mixin userText
  .d-flex.flex-column.justify-content-center.align-items-center.h-100.text-center
    p
      | В данном сообществе пока отсутствует календарь.
      br
      | Но вы можете #[a(href='/') установить] в своё.


block content
  - const calendarTimezone = values.timezones.default.name;
  if (user.isAdmin)
    include adminForm
    hr
    +adminText
  else
    +userText
