extends index

mixin adminText
  p.
    Укажите общедоступную ссылку на календарь вида
    #[span.font-monospace.bg-warning https://calendar.google.com/calendar/embed?src=ob1gcsbo877671s4295f693nv0%40group.calendar.google.com&ctz=Europe%2FMoscow]
     и сохраните, чтобы привязать календарь к сообществу

mixin userText
  p В данном сообществе пока отсутствует календарь


block content
  if (user.isAdmin)
    include adminForm
    +adminText
  else
    +userText
