extends index

mixin ms(text)
  span.font-monospace.bg-light.ps-1.pe-1.text-break #{text}

mixin userText
  .container-fluid.h-100
    .row.h-100.text-center
      .col.align-self-center
        p
          | В данном сообществе пока отсутствует календарь.
          br
          | Но вы можете #[a(href=`//vk.com/app${gon.app.appId}` target="_blank") установить] в своё.


block content
  - const calendarTimezone = values.timezones.default.name;
  - const calendarId = null;
  if (user.isAdmin)
    include adminInstall
  else
    +userText
