html,
body {
    height: 100%;
    background-color: #fff;
    overscroll-behavior: none!important;
    overflow: auto;
    position: fixed;
}

body {
    padding:
        env(safe-area-inset-top, 20px)
        env(safe-area-inset-right, 0px)
        env(safe-area-inset-bottom, 0px)
        env(safe-area-inset-left, 0px);
}

#iphoneStatusbar {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    height: env(safe-area-inset-top)!important;
    z-index: 1050;
}

#eventsWord {
    background-color: #cfe2ff;
}

tr {
    height: 48px;
}

#logger {
    height: 100%;
    width: 100%;
}

@media (min-width: 576px) {
    #container-calendar-events {
        height: 289px;
    }
}

@media (max-width: 575px) {
    #container-calendar-events {
        min-height: 289px;
        max-height: 70vh;
    }
}
