html,
body {
    height: 100%;
}

body {
    padding:
        env(safe-area-inset-top, 20px)
        env(safe-area-inset-right, 0px)
        env(safe-area-inset-bottom, 0px)
        env(safe-area-inset-left, 0px);
}

#iphoneStatusbar {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    height: env(safe-area-inset-top)!important;
    z-index: 1050;
}

.container-calendar-events {
    height: 247px;
}

#logger {
    height: 100%;
    width: 100%;
}
