html,
body {
    height: 100%;
}

html {
    padding:
        env(safe-area-inset-top, 20px)
        env(safe-area-inset-right, 0px)
        env(safe-area-inset-bottom, 0px)
        env(safe-area-inset-left, 0px);
}

#iphoneStatusbar {
    height: env(safe-area-inset-top, 20px)!important;
}

.container-calendar-events {
    height: 247px;
}

#logger {
    height: 100%;
    width: 100%;
}
